{% extends "back-office.html.twig" %}

{% block titre %} Ajouter un nouveau véhicule {% endblock %}

{% block body %}
<h1 class="text-center">Ajouter un nouveau véhicule</h1>
{{form(form)}}
{% endblock %}